<form action="/answer" data-turbo="false" method="get">
  <label for="question">Ask the coach a question</label>
  <input id="question" type="text" name="question" placeholder="no stupid questions..">
  <input type="submit" value="Ask!">
</form>
